.fuse_hidden*
Desarrollo/irrlicht-1.8.4/source/**/*.o
Desarrollo/irrlicht-1.8.4/source/**/*.d
Desarrollo/irrlicht-1.8.4/lib/Linux/
Desarrollo/irrlicht-1.8.4/source/Irrlicht/libIrrlicht.a
Desarrollo/irrlicht-1.8.4/bin/Linux/**
!Desarrollo/irrlicht-1.8.4/bin/Linux/readme.txt
Desarrollo/game/bin/**/*
!Desarrollo/game/bin/Debug/irrKlang.dll
!Desarrollo/game/bin/Debug/libassimp.dll
!Desarrollo/game/bin/Release/irrKlang.dll
!Desarrollo/game/bin/Release/libassimp.dll
Desarrollo/game/obj/
Desarrollo/game/obj/**/*
Desarrollo/irrlicht-1.8.4/**/.objs/
Desarrollo/irrlicht-1.8.4/obj/**/*
Desarrollo/irrKlang-1.5.0/**/*
Desarrollo/RakNetLib/obj/**/*
Desarrollo/Box2D/box2DEngine/obj/**/*
Desarrollo/Server/Release Win32/**/*
Desarrollo/Server/Debug Win32/**/*
Desarrollo/Server/*.exe
Desarrollo/game/lib/**/*
Desarrollo/assimp-3.2/build/**/*
Desarrollo/**/*.layout
**/Thumbs.db
Desarrollo/motor/**/*.exe
Desarrollo/motor/obj/
Desarrollo/motor/obj/**/*
**/*.depend
Desarrollo/motor/lib/**/*
Desarrollo/game/options.ini

# Unity
Desarrollo/Lab21-Unity3D-Project/.vs/
Desarrollo/Lab21-Unity3D-Project/ExportedObj/
Desarrollo/Lab21-Unity3D-Project/.consulo/
Desarrollo/Lab21-Unity3D-Project/*.csproj
Desarrollo/Lab21-Unity3D-Project/**/*.unityproj
Desarrollo/Lab21-Unity3D-Project/**/*.sln
Desarrollo/Lab21-Unity3D-Project/**/*.suo
Desarrollo/Lab21-Unity3D-Project/**/*.tmp
Desarrollo/Lab21-Unity3D-Project/**/*.user
Desarrollo/Lab21-Unity3D-Project/**/*.userprefs
Desarrollo/Lab21-Unity3D-Project/**/*.pidb
Desarrollo/Lab21-Unity3D-Project/**/*.booproj
Desarrollo/Lab21-Unity3D-Project/**/*.svd
Desarrollo/Lab21-Unity3D-Project/**/*.pdb
Desarrollo/Lab21-Unity3D-Project/**/*.pidb.meta
Desarrollo/Lab21-Unity3D-Project/sysinfo.txt
Desarrollo/Lab21-Unity3D-Project/**/*.apk
Desarrollo/Lab21-Unity3D-Project/**/*.unitypackage
Desarrollo/Lab21-Unity3D-Project/**/*.bin
Desarrollo/Lab21-Unity3D-Project/**/*.dwlt
Desarrollo/Lab21-Unity3D-Project/**/*.mdb
Desarrollo/Lab21-Unity3D-Project/Library/**/*
Desarrollo/Lab21-Unity3D-Project/Builds/**/*
Desarrollo/Lab21-Unity3D-Project/Temp/**/*
Desarrollo/Lab21-Unity3D-Project/obj/**/*
