.fuse_hidden*
Desarrollo/irrlicht-1.8.4/source/**/*.o
Desarrollo/irrlicht-1.8.4/source/**/*.d
Desarrollo/irrlicht-1.8.4/lib/Linux/
Desarrollo/irrlicht-1.8.4/source/Irrlicht/libIrrlicht.a
Desarrollo/irrlicht-1.8.4/bin/Linux/**
!Desarrollo/irrlicht-1.8.4/bin/Linux/readme.txt
Desarrollo/game/bin/**/*
Desarrollo/game/obj/
Desarrollo/game/obj/**/*
Desarrollo/game/game.layout
Desarrollo/irrlicht-1.8.4/**/*.layout
Desarrollo/irrlicht-1.8.4/**/.objs/
Desarrollo/irrlicht-1.8.4/obj/**/*
Desarrollo/RakNetLib/obj/**/*
Desarrollo/Box2D/box2DEngine/obj/**/*
Desarrollo/Server/Release Win32/**/*
Desarrollo/Server/Debug Win32/**/*
Desarrollo/Server/*.exe
